{% for block in section.blocks %}
  <img src="{{ block.settings.image | img_url: '300x200' }}"/>
{% endfor %} 

<button style=" 
  padding: 10px 20px; 
  background: blue; 
  color: white; 
  border: 1px black solid;
  display: block;
  margin: auto;
  margin-bottom: 10px;" 
  class="alert">Alert
</button>

{% schema %}
{
  "name" : "Image block",
  "blocks" : [
                {
                  "type" : "image",
                  "name" : "Image block",
                  "settings" : [
                                  {
                                  "type" : "image_picker",
                                  "id" : "image",
                                  "label" : "Choose a custom image"
                                  }
                                ]
                }
              ],
  "presets": [
      {
        "category": "Images",
        "name": "Image blocks"
      }
    ]
}
{% endschema %}