@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Antic+Didone&family=Italiana&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');
// fonts
$BacasimeAntique: 'Bacasime Antique', serif;
$anticDidone: 'Antic Didone', serif;
$Italiana: 'Italiana', serif;
$Roboto: 'Roboto', sans-serif;

// brand colors
$dark: #000000;

